<!DOCTYPE html>
<html lang="en" ng-app="directivasrc">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hola!</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body ng-controller="micontroller">
    <div>{{estado}}</div>
    <button ng-click="estado = 'clickeado'">Clickea</button>
    <button ng-click="clickeo()">Clickea 2</button>

    <input ng-change="cmabioelinput()" ng-model="estado">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script>
        angular.module('directivasrc', [])
            .controller('micontroller', function ($scope) {
                $scope.estado = 'sin clickear';
                $scope.clickeo = function(){
                    debugger
                    $scope.estado = 'clickeado 2';
                }
                $scope.cmabioelinput = function() {
                    debugger
                }
            })
    </script>
</body>

</html>